/* colors.css */
:root {
  --bar-color: #27548A;              /* Blue */
  --background-color: #183B4E;          /* Navy */
  --primary-color: #F5EEDC;             /* Beige White */
  --secondary-color: #DDA853;          /* Gold */
}